@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  padding: 2px;
}

body {
  background-color: #999999;
}

.header {
  flex: 0 0 100%;
  height: 50px;
  background-color: #888888;
}

.mainContentBox {
  flex: 0 0 100%;
  height: 400px;
  background-color: red;
}

.contentBlock {
  flex: 0 0 100%;
  height: 100%;
  background-color: orange;
}

.contentPic {
  flex: 0 0 100%;
  height: 60%;
  background-color: yellow;
}

img {
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.contentHeader {
  flex: 0 0 100%;
  height: 15%;
  background-color: green;
  font-family: Oswald;
  font-size: 1.1em;
  padding: 5px;
  line-height: 1.2em;
}

.contentAuthor {
  flex: 1 0 32%;
  height: 5%;
  background-color: blue;
  font-family: Lato;
}

.contentDate {
  flex: 1 0 32%;
  height: 5%;
  background-color: indigo;
  font-family: Lato;
}

.contentViews {
  flex: 1 0 32%;
  height: 5%;
  background-color: violet;
  font-family: Lato;
}

.contentText {
  flex: 1 0 100%;
  height: 20%;
  background-color: white;
  font-family: Lato;
}